<!DOCTYPE html>
<head>
<meta charset="UTF-8" />
<title>Login and Registration Form with HTML5 and CSS3</title>
<link rel="stylesheet" type="text/css" href="css/demo.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div class="container">
    <img src="dept_icon.jpg" alt="reg" style="width:550px;height:128px;">
  <section>
    <div id="container_demo" >
      <div id="wrapper">
        <!--div id="login" class="animate form"-->
        <h1>Registration Form</h1> 
            <p> 
            <label for="companyname" class="uname" > Company Name </label>
            <input id="companyname" name="companyname" required="required" type="text" />
            </p>
            <p> 
            <label for="contactperson" class="uname" > Contact Person</label>
            <input id="contactperson" name="contactperson" required="required" type="text" />
            </p>
            <p> 
            <label for="designation" class="uname" > Designation </label>
            <input id="designation" name="designation" required="required" type="text" />
            </p>
            <p> 
            <label for="phone" class="uname" > Phone </label>
            <input id="phone" name="phone" required="required" type="text" />
            </p>
            <p> 
            <label for="fax" class="uname" > Fax </label>
            <input id="fax" name="fax" required="required" type="text" />
            </p>
            <p> 
            <label for="website" class="uname" > Website </label>
            <input id="website" name="website" required="required" type="text" />
            </p>
            <p> 
            <label for="email" class="uname" > Email-id </label>
            <input id="email" name="email" required="required" type="text" />
            </p>
            <p> 
            <label for="bcfprofile" class="uname" > Brief Company Profile </label>
            <input id="bcprofile" name="bcprofile" required="required" type="text" />
            </p>
            <b style="font-family:verdana">Final Placement </b><br><br>
            <p> 
            <label for="posoffered" class="uname" > Position Offered </label>
            <input id="posoffered" name="posoffered" required="required" type="text" />
            </p>
            <p> 
            <label for="numofvacancies" class="uname" > Number of Vacancies </label>
            <input id="numofvacancies" name="numofvacancies" required="required" type="text" />
            </p>
            <p> 
            <label for="joblocation" class="uname" > Job Location </label>
            <input id="joblocation" name="joblocation" required="required" type="text" />
            </p>
            <p> 
            <label for="comp&benefits" class="uname" > Compensation and Benefits </label>
            <input id="comp&benefits" name="comp&benefits" required="required" type="text" />
            </p>
            <p> 
            <label for="comp&benefits" class="uname" > Selection Procedure: </label><br>
            Test:&nbsp;&nbsp;
            <input type="checkbox" name="test" value="Test"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Interview:&nbsp;&nbsp;
            <input type="checkbox" name="interview" value="Interview"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Both:&nbsp;&nbsp;
            <input type="checkbox" name="both" value="Both"/>
            </p>
            <p> 
            <label for="other" class="uname" > Others (Please Specify) </label>
            <textarea name="Others" rows="4" cols="30"></textarea>
            </p>
            <b style="font-family:verdana"> Industrial Training (May/June - November/December) </b><br><br>
            <p> 
            <p> 
            <label for="posoffered" class="uname" > Position Offered </label>
            <input id="posoffered" name="posoffered" required="required" type="text" />
            </p>
            <p> 
            <label for="numofvacancies" class="uname" > Number of Vacancies </label>
            <input id="numofvacancies" name="numofvacancies" required="required" type="text" />
            </p>
            <p> 
            <label for="joblocation" class="uname" > Job Location </label>
            <input id="joblocation" name="joblocation" required="required" type="text" />
            </p>
            <p> 
            <label for="comp&benefits" class="uname" > Compensation and Benefits </label>
            <input id="comp&benefits" name="comp&benefits" required="required" type="text" />
            </p>
            <p> 
            <label for="comp&benefits" class="uname" > Selection Procedure: </label><br>
            Test:&nbsp;&nbsp;
            <input type="checkbox" name="test" value="Test"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Interview:&nbsp;&nbsp;
            <input type="checkbox" name="interview" value="Interview"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Both:&nbsp;&nbsp;
            <input type="checkbox" name="both" value="Both"/>
            </p>
            <p> 
            <label for="other" class="uname" > Others (Please Specify) </label>
            <textarea name="Others" rows="4" cols="30"></textarea>
            </p>
            <b style="font-family:verdana"> Facilities required for conducting Campus Placements </b><br><br>
            <p>
            LCD Projector:&nbsp;&nbsp;
            <input type="checkbox" name="lcd" value="LCD"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Computer Lab:&nbsp;&nbsp;
            <input type="checkbox" name="lab" value="Lab"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="login button">
            <input type="submit" value="SUBMIT" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="reset" value="Reset"/>
            </p>

       </div-->
      </div>
    </div>  
  </section>
</div>
</body>
</html>