{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CSV File Upload</title>
  </head>
  <body>
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="file" name="csv_file" />
    <input type="submit" value="Upload" />

    <div>

	 {% if some_flag  %}
        <div id="flag" title="Some Flag">
         	<font color="green"><p> CSV file data uploaded in databse Succesfull...!! </p></font>
        </div>
    {% endif %}		
	</div>
	<div>
		<p><a href="{% url 'pcm_home' %}">Return to pcm_home</a></p>
	</div>
</form>

	


  </body>
</html>



