


<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <style type="text/css">
            .manageMember{
                width:50%;
                margin:auto;
                }
                table{
                    width:100%;
                    margin-top:20px;
                }
        </style>
        
    </head>
    <body>
     
    <div class="manageMember">
        <a href="{% url 'callAddMember' %}"><button typt="button">Add member</button></a>
        <a href="{% url 'backToLogin' %}"><button typt="button">Admin Home</button></a>
       <!-- <a href="create.php">button type="button">Add Member</button></a>-->
       
        <table border="2" cellspacing="0" cellpadding="0">
      	<tr>
      		<th>RollNo</th><br>
                <th>Name</th>
                <th>EmailAddress</th>
                <th>UserName</th>
                <th>Password</th>
                
      	</tr>    
        {% for result in query_results %}
        <tr>
            <td>{{ result.rollno }}</td>
            <td>{{ result.name }}</td>
            <td>{{ result.emailaddress }}</td>
            <td>{{ result.username }}</td>
            <td>{{ result.password }}</td>
        </tr>    
        {% endfor %}
        </table>
    </div>
    </body>
</html>
