<!DOCTYPE html>
<head>
<meta charset="UTF-8" />
<!-- <title>Login and Registration Form with HTML5 and CSS3</title> -->
<!-- <link rel="stylesheet" type="text/css" href="css/demo.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" /> -->
</head>
<body>
<form id="myForm">
<div class="container">
  <section>
    <div id="container_demo" >
      <div id="wrapper">
        <!--div id="login" class="animate form"-->
       <!--  <h1></h1>  -->
            <p> 
            <label for="contactperson" class="uname" > To:</label>
            <input id="contactperson" name="contactperson" required="required" type="text" />
            </p>
            <p> 
            <label for="contactperson" class="uname" > Subject:</label>
            <input id="contactperson" name="contactperson" required="required" type="text" />
            </p>

            <p> 
            <label for="companyname" class="uname" > Message: </label>
            <textarea class="form-control" rows="5" cols="100" id=""></textarea>
            </p>
            
            <p class="login button">
            <input type="submit" value="SEND" />
            <!-- <input type="reset" value="Reset"/> -->
              <input type="button" onclick="myFunction()" value="Reset">
</form>

<script>
function myFunction() {
     
    document.getElementById("myForm").reset();
}
</script>
           
       </div-->
      </div>
    </div>  
  </section>
</div>
</form>
</body>
</html>