{% load staticfiles %}

<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>Login Form</title>
<link  href="{% static 'css/pcm_login_css/style.css' %}" rel="stylesheet">
<script src="{% static 'javascript/pcm_login/get_login.js' %}" type="text/javascript"></script>
</head>

<body>
<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h1>Login</h1>
    </div>
    <form action="" method="post">
      <div class="login-form">
      <div class="control-group">
        <input type="text" class="login-field" value="" placeholder="username" id="login-name">
        <label class="login-field-icon fui-user" for="login-name"></label>
      </div>

      <div class="control-group">
        <input type="password" class="login-field" value="" placeholder="password" id="login-pass">
        <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>
      <div>
        <a class="login-link" href="#">Lost your password?</a>
      </div>
      <br>
      <div>
        <a name="mybtn" class="btn btn-primary btn-large btn-block" href="#" onclick="getLogin()">login</a>
      </div>   
    </div>
    
    </form>
    
</div>
</div>
</body>

</html>
