{% load staticfiles %}
<!DOCTYPE html>
<head>
<meta charset="UTF-8" />
<title>Login and Registration Form with HTML5 and CSS3</title>
<link rel="stylesheet" href={% static 'css/Compny_reg/css/demo.css' %} type="text/css"/>
<link rel="stylesheet" href={% static 'css/Compny_reg/css/style.css' %} type="text/css"/>
</head>
<body>
<div class="container">
    <img src={% static 'images/pcm_home_images/shared/dept_icon.jpg' %} alt="reg" style="width:550px;height:128px;">
  <section>
   
    <div id="container_demo" >
      <div id="wrapper">
      <form action="{% url 'company_registraion' %}" method="POST">
                    {% csrf_token %} 
             {{ form.as_p }}
        <!--div id="login" class="animate form"-->
        <h1>Registration Form</h1> 
            <p> 
            <label for="companyname" class="uname" > Company Name </label>
            <input id="companyname" name="companyname" required="required" type="text" />
            </p>
            <p> 
            <label for="contactperson" class="uname" > Contact Person</label>
            <input id="contactperson" name="contactperson" required="required" type="text" />
            </p>
            <p> 
            <label for="designation" class="uname" > Designation </label>
            <input id="designation" name="designation" required="required" type="text" />
            </p>
            <p> 
            <label for="phone" class="uname" > Phone </label>
            <input id="phone" name="phone" required="required" type="text" />
            </p>
            <p> 
            <label for="fax" class="uname" > Fax </label>
            <input id="fax" name="fax" required="required" type="text" />
            </p>
            <p> 
            <label for="website" class="uname" > Website </label>
            <input id="website" name="website" required="required" type="text" />
            </p>
            <p> 
            <label for="email" class="uname" > Email-id </label>
            <input id="email" name="email" required="required" type="text" />
            </p>
            <p> 
            <label for="bcprofile" class="uname" > Brief Company Profile </label>
            <input id="bcprofile" name="bcprofile" required="required" type="text" />
            </p>
            <p>
            <b style="font-family:verdana">Final Placement </b><br><br>
            </p>
            <p> 
            <label for="fposoffered" class="uname" > Position Offered </label>
            <input id="fposoffered" name="fposoffered" required="required" type="text" />
            </p>
            <p> 
            <label for="fnumofvacancies" class="uname" > Number of Vacancies </label>
            <input id="fnumofvacancies" name="fnumofvacancies" required="required" type="text" />
            </p>
            <p> 
            <label for="joblocation" class="uname" > Job Location </label>
            <input id="fjoblocation" name="fjoblocation" required="required" type="text" />
            </p>
            <p> 
            <label for="fcomp&benefits" class="uname" > Compensation and Benefits </label>
            <input id="fcomp&benefits" name="fcomp&benefits" required="required" type="text" />
            </p>
            <p> 
            <label for="fradio" name="fradio" class="uname" > Selection Procedure: </label><br>
            Test:&nbsp;&nbsp;
            <input type="radio" name="fradio"  value="Test"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Interview:&nbsp;&nbsp;
            <input type="radio" name="fradio"  value="Interview"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Both:&nbsp;&nbsp;
            <input type="radio" name="fradio"  value="Both"/>
            </p>
           
            <p>
            <b style="font-family:verdana"> Industrial Training (May/June - November/December) </b><br><br></p>
            <p> 
            <p> 
            <label for="iposoffered" class="uname" > Position Offered </label>
            <input id="iposoffered" name="iposoffered" required="required" type="text" />
            </p>
            <p> 
            <label for="inumofvacancies" class="uname" > Number of Vacancies </label>
            <input id="inumofvacancies" name="inumofvacancies" required="required" type="text" />
            </p>
            <p> 
            <label for="ijoblocation" class="uname" > Job Location </label>
            <input id="ijoblocation" name="ijoblocation" required="required" type="text" />
            </p>
            <p> 
            <label for="icomp&benefits" class="uname" > Compensation and Benefits </label>
            <input id="icomp&benefits" name="icomp&benefits" required="required" type="text" />
            </p>
            <p> 
            <label for="iradio" name="iradio" class="uname" > Selection Procedure: </label><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Test:&nbsp;&nbsp;
            <input type="radio"  name="iradio" value="Test"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Interview:&nbsp;&nbsp;
            <input type="radio"  name="iradio" value="Interview">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Both:&nbsp;&nbsp;
            <input type="radio"  name="iradio" value="Both">
            </p>
            
            <b style="font-family:verdana"> Facilities required for conducting Campus Placements </b><br><br>
            <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LCD Projector:
            <input type="radio" name="fcheckbox" value="LCD"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Computer Lab:&nbsp;&nbsp;
            <input type="radio" name="fcheckbox" value="Lab"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Both:&nbsp;&nbsp;
            <input type="radio" name="fcheckbox" value="BOTH"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p class="login button">
            <input type="submit" value="SUBMIT" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="reset" value="Reset"/>
            </p>
       </form>             
      </div>

    </div> 
    
  </section>
</div>
</body>
</html>